.icon{
    cursor: pointer;
    color: red;
    margin-left: 10px;
    margin-right: 10px;
}

.gren-icon{
    color: green;
}

.eye-red{
    cursor: pointer;
    color: red;
    margin-left: 10px;
    margin-right: 10px;
}

.eye-green{
    cursor: pointer;
    color: green;
    margin-left: 10px;
    margin-right: 10px;
}